{% extends 'base.html' %}
{% block title %} Home Page {% endblock %}
{% block content %}
<h2>{{room.name}}</h2>
<p>{{room.description}}</p>
<hr>
<div class="gridd">
    <div>
        <h2>Chats</h2>
        {% for message in room_messages %}
            <hr>
            {% if request.user == message.owner %}
            <a href="{% url 'delete-message' message.id %}">Delete</a>
            {% endif %}
            <p> <img src="{{message.owner.upload.url}}" alt="">@ <a href="">{{message.owner}}</a> {{message.created|timesince}} ago</p>
            <p>{{message.body}}</p>
        {% endfor %}
    </div>
    <div>
        <h2>Participants</h2>
        <hr>
        {% for people in room_people %}
            <div><a href="">@{{people.username}}</a></div>
        {% endfor %}
    </div>
</div>

{% if request.user.is_authenticated %}
    <form action="" method="POST">
        {% csrf_token %}
        <input type="text" placeholder="Write your comment here.." name="comment">
    </form>
{% endif %}
{% endblock %}